﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadarViewComponentPartial")
<body>

 
    @await Component.InvokeAsync("_NavbarViewComponentPartial")


    @RenderBody()
 
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

   
    @await Component.InvokeAsync("_DefaultScriptComponentPartial")

</body>

</html>